#supson {
    font-family: Planet Kosmos;
    src: url(planet-kosmos.ttf);
}

body {
    background-color: rgb(253, 254, 248);
}

#table1 {
    border: 3px solid rgb(207, 207, 207);
    width: 720px; height: 350px;
    background-color: rgb(207, 207, 207);
    text-align: left;
    border: solid 2px;
    color:rgb(172, 172, 172);
}

#yes {
    font-family: Planet Kosmos;
    src: url(planet-kosmos.ttf);
}

#YGP {
    float: left;
}

#yes {
    margin-left: 425px;
    font-family: Planet Kosmos;
    src: url(planet-kosmos.ttf);
    color:black;
}

#YGP {
    border: solid 2px;
    color:rgb(172, 172, 172);
}

#p1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    width: 400px;
    margin-left: 200px;
    color:rgb(31, 31, 31);}

#th1 {
    width: 400px;}

#yes1 {
    float:left;
}

#hr1 {
    color: rgb(172, 172, 172);
    border: solid 2px;
    width: 716px;
}

#table2 {
    border: 3px solid rgb(207, 207, 207);
    width: 720px; height: 350px;
    background-color: rgb(207, 207, 207);
    text-align: left;
    border: solid 2px;
    color:rgb(172, 172, 172);
}

#FZ {
    font-family: Planet Kosmos;
    src: url(planet-kosmos.ttf);
}

#FZpic {
    float: left;
}

#FZ {
    margin-left: 190px;
    margin-right: 15px;
    font-family: Planet Kosmos;
    src: url(planet-kosmos.ttf);
    color:black;
    text-align: center;
}

#FZpic {
    border: solid 2px;
    color:rgb(172, 172, 172);
}

#p2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    width: 400px;
    margin-left: 200px;
    color:rgb(31, 31, 31);}

#th2 {
    width: 400px;}

#hr2 {
    color: rgb(172, 172, 172);
    border: solid 2px;
    width: 716px;
}

#TheMothers {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    width: 400px;
    margin-left: 200px;
    color:rgb(31, 31, 31);}

#Mothers60 {
    border: solid 2px;
    color:rgb(172, 172, 172);
    float: left;
}

#table3 {
    border: 3px solid rgb(207, 207, 207);
    width: 720px; height: 350px;
    background-color: rgb(207, 207, 207);
    text-align: left;
    border: solid 2px;
    color:rgb(172, 172, 172);
}

#ELP {
    font-family: Planet Kosmos;
    src: url(planet-kosmos.ttf);
}

#EL-P {
    float: left;
}

#ELP {
    margin-left: 170px;
    font-family: Planet Kosmos;
    src: url(planet-kosmos.ttf);
    color:black;
    text-align: center;
}

#EL-P {
    border: solid 2px;
    color:rgb(172, 172, 172);
}

#p3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    width: 400px;
    margin-left: 200px;
    color:rgb(31, 31, 31);}

#th3 {
    width: 400px;}

#hr3 {
    color: rgb(172, 172, 172);
    border: solid 2px;
    width: 716px;
}

#table4 {
    border: 3px solid rgb(207, 207, 207);
    width: 720px; height: 350px;
    background-color: rgb(207, 207, 207);
    text-align: left;
    border: solid 2px;
    color:rgb(172, 172, 172);}

#PICSA {
    margin-left: 300px;
    font-family: Planet Kosmos;
    src: url(planet-kosmos.ttf);
    color:black;}

#PICSAimg {
    border: solid 2px;
    color:rgb(172, 172, 172);
    float: left;}

#p4 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    width: 400px;
    margin-left: 200px;
    color:rgb(31, 31, 31);}

#th4 {
    width: 400px;}

#hr4 {
    color: rgb(172, 172, 172);
    border: solid 2px;
    width: 716px;}

    #table5 {
        border: 3px solid rgb(207, 207, 207);
        width: 720px; height: 350px;
        background-color: rgb(207, 207, 207);
        text-align: left;
        border: solid 2px;
        color:rgb(172, 172, 172);}
    
    #VARG {
        float: left;}
    
    #Burzum {
        margin-left: 400px;
        font-family: Planet Kosmos;
        src: url(planet-kosmos.ttf);
        color:black;}
    
    #VARG {
        border: solid 2px;
        color:rgb(172, 172, 172);}
    
    #p5 {
        font-family: 'Times New Roman', Times, serif;
        text-align: justify;
        width: 400px;
        margin-left: 200px;
        color:rgb(31, 31, 31);}
    
    #th5 {
        width: 400px;}
    
    #hr5 {
        color: rgb(172, 172, 172);
        border: solid 2px;
        width: 716px;}
#table01 {
    width: 1000px;
    height: 100px;
}

#SomeGirls {
    width: 50px; height: 50px; border: 2px solid black;
}
#UnderaFuneralMoon {
    width: 50px; height: 50px; border: 2px solid black;
}
#PhysicalGraffiti {
    width: 50px; height: 50px; border: 2px solid black;
}
#ElectricLadyland {
    width: 50px; height: 50px; border: 2px solid black;
}
#Relayer {
    width: 50px; height: 50px; border: 2px solid black;
}
#SoDP {
    width: 50px; height: 50px; border: 2px solid black;
}
#Overkill {
    width: 50px; height: 50px; border: 2px solid black;
}
#NLMD {
    width: 50px; height: 50px; border: 2px solid black;
}
#Islands {
    width: 50px; height: 50px; border: 2px solid black;
}
#CombatRock {
    width: 50px; height: 50px; border: 2px solid black;
}

#FRAG {
    border: solid 2px;
    color:rgb(172, 172, 172);
    text-align: left;}

#frag {
    font-family: 'Times New Roman', Times, serif;
        text-align: justify;
        width: 400px;
        margin-left: 77px;
        color:rgb(31, 31, 31);
}

#leglem1{
    font-family: 'Times New Roman', Times, serif;
        text-align: justify;
        width: 400px;
        margin-left: 30px;
        color:rgb(31, 31, 31);
}